<h2 class="center">Termin</h2>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="col s12">
                <label>First Name</label>
            </div>
            <div class="input-field col s12">
                <div class="col s12 m3">
                    <input class="with-gap" type="radio" id="test1" ng-model="CtrlMeetingIndex.meetingType" value="problem"/>
                    <label for="test1">Problem</label>
                </div>
                <div class="col s12 m3">
                    <input class="with-gap" type="radio" id="test2" ng-model="CtrlMeetingIndex.meetingType" value="request"/>
                    <label for="test2">Anfrage</label>
                </div>
                <div class="col s12 m3">
                    <input class="with-gap" type="radio" id="test3" ng-model="CtrlMeetingIndex.meetingType" value="help"/>
                    <label for="test3">Beratung</label>
                </div>
                <div class="col s12 m3">
                    <input class="with-gap" type="radio" id="test4" ng-model="CtrlMeetingIndex.meetingType" value="other"/>
                    <label for="test4">Anderes</label>
                </div>
            </div>
        </div>

        <div class="row" ng-show="CtrlMeetingIndex.meetingType == 'other'">
            <div class="input-field col s12">
                <input placeholder="Beschreiben Sie Ihre Terminanfrage..." id="reason" type="text">
                <label for="reason">Grund</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 m6 offset-m1">
                <input type="date" id="date" class="datepicker">
                <label for="date">Datum</label>
            </div>

            <div class="input-field col s3 m2">
                <input type="number" id="hour">
                <label for="hour">HH</label>
            </div>
            <div class="input-field col s3 m2">
                <input type="number" id="minutes">
                <label for="minutes">MM</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">person</i>
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label for="autocomplete-input">Agent</label>
            </div>
        </div>
    </form>
</div>

<script>

    $('.datepicker').pickadate({
        selectMonths: false
//        selectYears: 15
    });

    $('input.autocomplete').autocomplete({
        data: {
            "Hans Meier": null,
            "Johnny Lüthi": null,
            "Google": 'http://placehold.it/250x250'
        }
    });

</script>

<div ui-view></div>