.yellow-color
{
    color:#fc0!important;
}
.yellow-background-color
{
    background-color: #fc0!important;
}
.light-grey-color
{
    color:#E7E7E7!important;
}
.light-grey-background-color
{
    background-color: #E7E7E7!important;
}
.grey-color
{
    color:#cccccc!important;
}
.grey-background-color
{
    background-color: #cccccc!important;
}
.dark-grey-color
{
    color:#666666!important;
}
.dark-grey-background-color
{
    background-color:#666666!important;
}
.brown-color
{
    color: #584125!important;
}
.brown-background-color
{
    background-color: #584125!important;
}
.light-red-color
{
    color:#FF0000!important;
}
.light-red-background-color
{
    background-color: #FF0000!important;
}
.dark-red-color
{
    color:#a51728!important;
}
.dark-red-background-color
{
    background-color: #a51728!important;
}
.light-blue-color
{
    color:#00b5d1!important;
}
.light-blue-background-color
{
    background-color:#00b5d1!important;
}
.dark-blue-color
{
    color:#00545e!important;
}
.dark-blue-background-color
{
    background-color: #00545e!important;
}
.orange-color
{
    color:#f49e00!important;
}
.orange-background-color
{
    background-color: #f49e00!important;
}
.light-green-color
{
    color:#a5c400!important;
}
.light-green-background-color
{
    background-color: #a5c400!important;
}
.dark-green-color
{
    color:#3d6f1a!important;
}
.dark-green-background-color
{
    background-color: #3d6f1a!important;
}
.black-color
{
    color:#000000!important;
}
.black-background-color
{
    background-color:#000000!important;
}
.white-color
{
    color:#fff!important;
}
.white-background-color
{
    background-color:#fff!important;
}