.button-collapse {
    display: block!important;
}

.page-header {
    height: 200px;
    background-color: #FFCC00;
}

.no-margin {
    margin: 0!important;
}

nav {

    background-color: #FFCC00;

}

.side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {

    background-color: #cccccc!important;

}