<nav class="top-nav" ng-controller="NavigationController as navCtrl">
    <div class="container">
        <div class="nav-wrapper">
            <a class="page-title">[ Aktuelles Thema ]</a>
            <ul class="right">
                <li>
                    <a data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ul id="slide-out" class="side-nav light-grey-background-color" ng-controller="NavigationController as navCtrl">
    <li>
        <div class="page-header">
            <!--<h1 class="center no-margin">LOGO</h1>-->
        </div>
        <div class="divider no-margin"></div>
    </li>
    <li class="row">
        <ul class="collapsible" data-collapsible="accordion">
            <li class="col s12">
                <div class="collapsible-header" ui-sref="/">Home</div>
            </li>
            <li class="col s12">
                <div class="collapsible-header" ui-sref="topic">Topics</div>
                <div class="collapsible-body">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li class="col offset-s1 s11" ng-repeat="topic in navCtrl.topics">
                            <div class="collapsible-header col s12" ui-sref="topic.detail({name: topic.name})">{{ topic.name }}</div>
                            <div class="collapsible-body" >
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li class="col offset-s1 s11" ng-repeat="subtopic in topic.subtopics">
                                        <div class="collapsible-header col s12" ui-sref="topic.detail.subtopic({subtopic: subtopic.name})">{{ subtopic.name }}</div>
                                    </li>
                                </ul>
                            </div>

                        </li>
                    </ul>
                </div>
            </li>
            <li class="col s12">
                <div class="collapsible-header" ui-sref="/">Anhänge</div>
            </li>
            <li class="col s12">
                <div class="collapsible-header" ui-sref="/meeting">Termine</div>
            </li>
        </ul>
    </li>
</ul>





<script>

    $(".button-collapse").sideNav({
        closeOnClick: true
    });
    $('.collapsible').collapsible();

</script>